@import "tailwindcss";
@tailwind utilities;

:root {
  overflow: hidden;
}

@layer components {
  /* OPEN/CLOSE MODAL */
  .show-window {
    @apply absolute place-items-center-safe;
  }
}

@layer base {
  @font-face {
    font-family: "pixel";
    src: url("../assets/fonts/PixelifySans-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
}

@theme {
  --font-pixel: pixel, sans-serif;
}
